* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
}

div{
    /*padding:0px;*/
}

button{
    padding: 6px;
}

input{
    padding: 6px;
    font-size: 1.1em;
}

.hidden{
    display: none;
}

.l{
    float: left;
}

.r{
    float: right;
}

.clr{
    float: none;
}

.pusher{

    display: table-cell;
}

.error{
    color: red;
}